[2013-01-14 17:01] 11PJ11 opened #1 "Line endins issues"
Hi staxmanade,
  I'm using your port of approvals and I must say it's really easy to set up and use.
Unfortunatly I'm having problems with line endings.
I'm using a Win 7 32bit plaform, I had to install Perforce to use approvals, since it couldn't find my TortoiseSVN executable; it seems it is looking for a TortoiseGit executable.

When running the example test it complains since the received file

[2013-01-16 16:25] 11PJ11 opened #2 "Can't find TortoiseMerge.exe reporter on Windows 7 32bit"
Installed TortoiseSVN on my machine with default installation settings but I receive this message:
Error: the string "No reporter found!" was thrown, throw an Error :)
Maybe an override in configuration file for setting the path could solve the problem?

[2013-01-16 17:33] #2 closed, assigned to nobody

[2013-01-17 21:54] #1 closed, assigned to nobody

[2013-05-22 16:45] scottstanfield opened #4 "Consider placing approved files in sub folder"
This gets complicated and needs discussion...

[2013-12-10 05:43] staxmanade opened #5 "Find a way to get rid of the __dirname when calling mocha(__dirname) and jasmine(__dirname)"
When you use approvals the require syntax is a bit annoying.

Instead of just `require('approvals').mocha()` we need to pass in the current directory of the testing file like `require('approvals').mocha(__dirname)`.

This is an annoying tax on each require to approvals and would be ideal to remove.

Not sure if anyone has any ideas on this, one might be to walk the stacktrace and see if we can get

[2014-02-18 05:32] staxmanade opened #6 "Look to add a vimdiff reporter"

[2014-02-18 06:46] isidore opened #7 "Add Function to detect Abandoned files"
There should be a corresponding  version of

https://github.com/approvals/ApprovalTests.Net/blob/master/ApprovalTests.Tests/RunMaintenance.cs

to help detect and ensure abandoned files are cleaned up

[2014-02-22 17:35] isidore opened #9 "Need way to write and use a customer reporter"
There is current no seam to add a reporter to the list of available reporters.

[2014-02-22 22:09] #9 closed, assigned to nobody

[2014-02-26 05:57] isidore opened #10 "received not deleted on success"

[2014-02-27 16:44] #10 closed, assigned to nobody

[2014-03-05 05:57] #7 closed, assigned to nobody

[2014-04-24 17:30] staxmanade opened #11 "get rid of the global options object"
The global options object is killing the flexibility of this tool... We need to find a better place where we can retrieve global options/overrides. Such as reporters, EOL, etc...

## Option 1:

Consider loading a `.approvalsrc` or `.approvalsconfig` (other name?) config file.  With this approach every time you `require('approvals').configure(...overrides...)` don't clobber other config overrides.

[2014-04-29 21:06] staxmanade opened #12 "EOL - should only append if there isn't already one."

[2014-05-02 04:09] staxmanade opened #13 "Config option to remove the BOM (byte order mark)"
I have a local change for this - just putting an issue here to remind myself to polish it up and add documentation/tests

here's the commit: https://github.com/approvals/Approvals.NodeJS/commit/249bb6c6e623bb6729dcf7cc6b5f9fd636eaa1e1

### TODO:

- [x] test well
- [x] document

[2014-10-18 04:19] togakangaroo opened #15 "Files generated always named _before_each__hook.received.txt"
Putting the sample code from the README into approvals.js

[code]

I run `mocha approvals.js`

and I get the following files generated

[code]

Shouldn't they be named for the test?

[2014-10-20 03:23] #15 closed, assigned to nobody

[2014-11-23 12:50] Hyzual opened #16 "TortoiseMerge not found"
Hello

I am using approvals on Windows 7 x64, I have TortoiseGit v1.8.11.0 (latest) installed.
When using `--reporter tortoisemerge` it cannot find the executable for the simple reason that it is not named `TortoiseMerge.exe`but `TortoiseGitMerge.exe`.
I don't know how it is named on the TortoiseSVN side however. Just thought I'd let you know.

Thanks for this tool by the way, I discovered the ide

[2014-11-23 17:18] #16 closed, assigned to nobody

[2014-11-23 17:36] Hyzual opened #17 "Approvals crashes with Jasmine"
Hello again,

I've been trying to use Approvals with Jasmine but can't seem to get it to work. The Mocha version on the other hand works fine, so it might be Jasmine-related.

Having `approvals@0.0.23` and `jasmine-node@1.14.3` installed, on Windows 7 x64, when I run the following command it crashes :

[code]

Inside the `C:\wamp\www\Jamstash\spec` folder I have made a `player_jasmine_spec.js` whi

[2014-11-23 21:18] #17 closed, assigned to nobody

[2014-11-24 20:08] Hyzual opened #18 "Using approvals in a browser context"
Hi again !

Thanks for your quick fixes. Unfortunately, I still can't seem to figure out how to do what I originally wanted to do with approvals.

I would really like to test and refactor a browser-related JS file. To be more precise : it's an Angular file.
I cannot figure out a way to use `require()` in my Jasmine test which needs to be in a browser context so that I can use Angular.
I can see at

[2015-01-18 17:14] tkellen opened #19 "liftoff 2x / v8flags 2x released"
Heya, this is just a friendly note to let you know that a new version of Liftoff and some of the dependencies commonly used in conjunction with it have been released. This release adds better support for situations where your user's configuration files are written using features behind a v8 flag (e.g. `--harmony`). Windows users and `io.js` users should see less issues if you upgrade!

Some helpfu

[2015-03-21 22:48] #12 closed

[2015-03-26 07:39] kristofferahl commented on #18
@Hyzual Have a look at approvals-server. Might be what you want if all you need to do is run verifications from the browser!

https://www.npmjs.com/package/approvals-server

[2015-03-26 15:27] staxmanade commented on #18
@kristofferahl - Very cool!

[2015-04-16 06:15] robdmoore opened #20 "Slow performance on Windows"
Hi,

Great project! Really glad to see that approvals has been ported to JavaScript (I use it extensively via .NET).

I'm not sure on what the performance expectations are for this project on Windows and I'm a little surprised with how long it seems to take to do an approval.

For instance, I just ran the following on a number of computers we have here:

[code]

And it's taking between 1s - 3s dep

[2015-04-16 14:43] staxmanade commented on #20
Agreed... Running the tests on windows is much slower then on a Mac.

I haven't looked into why, but my assumption might be the work it does to try and find a diff program in various ways. (But haven't measured or done any specific perf investigations)

Would appreciate anything you find or dig up. Let me know if you have any questions.

[2015-04-16 14:52] isidore commented on #20
What is the speed if the test passes?

The reason I ask is  1-3 seconds is to judge the size of this problem. it's okish if it doesn't add up. so if 1000 tests run fast and the slowness is when 1 of them fail then it's not a huge issue. if 1000 tests X 1-3 seconds it's a complete issue.

[2015-04-16 15:13] robdmoore commented on #20
@isidore great question. I'll check that out and get back to you, but anecdotal evidence from my tests that do pass is it's still slow.

@staxmanade I wonder if we compare the approvals.net code with the nodejs version? I've never had perf problems I noticed with the .NET one.

[2015-04-17 05:28] robdmoore commented on #20
FYI I'm getting similar times for a valid result as the failed result

[2015-04-17 05:41] robdmoore commented on #20
If it helps I get this using `node --prof main.js && node-tick-processor`:

[code]

[2015-04-17 05:49] robdmoore commented on #20
Looks like the slow method is `findProgramOnPath` in `AUtils.js`.

2 questions:

* Should that only be called if you need to actually pull up a diff so if your test run are all passes it's faster?
* Looking at the code, it is meant to cache in globals, but I'm not sure if that's happening because:

[code]

Gives me:

[code]

[2015-04-17 06:23] staxmanade commented on #20
what happens if you comment out the supposed caching?

[2015-04-17 06:28] staxmanade commented on #20
to your question, lazily finding the reporters would be good. They're not at the moment.

[2015-04-18 07:12] robdmoore commented on #20
If I comment out the `ReporterFactory.loadReporter` line and replace reporter with a `{}` then I get this:

[code]

[2015-04-18 14:32] staxmanade commented on #20
:+1:

[2015-04-18 18:46] #20 closed

[2015-04-18 21:32] staxmanade commented on #19
Project isn't currently using liftoff (but may consider it when I work on the CLI portion later...) thanks for the notification.

[2015-04-18 21:32] #19 closed

[2015-05-25 23:27] staxmanade commented on #11
Implemented in v1.0.0

[2015-05-25 23:27] #11 closed

[2015-05-25 23:27] #13 closed

[2015-08-20 09:28] nathanbrock commented on #5
Greetings!

The resolution of this issue has introduced a breaking change since patch version [1.1.1](https://github.com/approvals/Approvals.NodeJS/releases/tag/v1.1.1). If using the parameter passed to the mocha/jasmine provider to reference a sub directory for approval files to be stored (like requested in issue #4), then this change breaks existing tests, forcing files to to be stored in the di

[2015-08-20 09:32] isidore commented on #5
yes, that's a better idea. we should preserve backward compatibility
whenever possible

Llewellyn Falco
www.approvaltests.com

On Thu, Aug 20, 2015 at 12:28 PM, Nathan <notifications@github.com> wrote:

[2015-08-21 22:31] staxmanade commented on #5
Thanks @nathanbrock for bringing it up - will fix.

[2015-08-21 22:40] #5 closed

[2015-08-21 22:54] staxmanade commented on #5
@nathanbrock mind having a quick look at `v1.1.2` and see how that works for you?

[2015-08-24 08:18] nathanbrock commented on #5
@staxmanade that works great, many thanks!

[2015-08-25 04:06] staxmanade commented on #4
Closing for now.

It's possible to pass in a directory into the `require('approvals').mocha(...dirname)` (It's not ideal, but will work at a per folder level)

[2015-08-25 04:06] #4 closed

[2015-08-25 04:06] #18 closed

[2015-11-11 19:31] jamesrcounts opened #30 "Weird Namer Behavior with mocha --recursive"
We have some tests in subfolders

[code]

When running mocha --recursive, approvals looks for all approval files under `zzyzx`

[2015-11-11 23:20] staxmanade commented on #30
@jamesrcounts sorry I'm not sure I understand what you have setup and what you're noticing is weird about it. Can you give some extra details?

[2015-11-12 00:22] jamesrcounts commented on #30
Yeah let me see if i can post up example code later tonight

[2015-11-12 16:17] jamesrcounts commented on #30
Here is a [working example](https://github.com/jamesrcounts/converter).

Clone and run the tests in this repository with mocha --recursive and you should find that all approved and received files end up in `test/zzyzx`.

[2015-11-12 22:29] staxmanade commented on #30
Thanks for the repro... interesting...

After running `mocha --recursive` I get this file structure.

[code]

but might have instead expected to see this inside the `test` folder.

[code]

[2015-11-12 22:35] jamesrcounts commented on #30
That's it exactly.

[2015-12-02 06:37] jamesrcounts opened #31 "Add beyondcompare 4 support"
I can add a beyond compare 4 reporter, this is just a reminder for myself

[2015-12-02 06:40] jamesrcounts opened #32 "Option to normalize line endings"
On windows, with beyond compare I often have problems with beyond compare updating the line endings in the approval file.  Since there doesn't seem to be a way to tell BC not to do this, I usually resort to writing a `normalizeLineEndings` function like this:

[code]

It would be nice to have support for this built in so that the custom function doesn't need to be re-implemented on each project.

[2015-12-02 18:30] staxmanade commented on #31
~~Is beyond compare 4 different than what this supports https://github.com/approvals/Approvals.NodeJS/blob/master/lib/Reporting/Reporters/beyondcompareReporter.js?~~ ... ba never-mind just read the code and it's only `Beyond Compare 3`..

**NOTE:** if you can think of a way to make it less version dependent, that would be awesome.

[2015-12-09 20:16] #32 closed

[2015-12-09 20:18] staxmanade commented on #32
I've published this to npm in `v1.2.0` - let me know how it looks. (ooh, but I did so before watching CI run) here's hoping I don't have to patch :P

[2015-12-16 19:53] jamesrcounts commented on #32
Tried it today, worked great :)

[2015-12-16 20:36] staxmanade commented on #32
Awesome!

That task made me realize the appendEOL config is misleading.

[2015-12-17 02:48] jamesrcounts commented on #32
One thing we observed today after updating and converting.  If you have configured this new option, and you pass an object to verify (*not* verifyAsJSON) then you get an exception in stringwriter that value.replace is not a function, which makes sense because its not a string.

However it took a while to figure out, so maybe we could provide a nicer error message.

[2015-12-17 02:50] jamesrcounts commented on #31
I had trouble getting `npm install` to complete on Windows 10.  So I've been stalled on this.  But here is a "custom" reporter that is working for us for now.

[code]

[2015-12-17 05:04] staxmanade opened #34 "test errors on windows 10"
@jamesrcounts I just pulled the project on a win10 machine and ran `gulp` - seeing lots of errors (for some reason).

I didn't see any issues with `npm install` as you mentioned in #31 - what npm install errors are you seeing?

[2015-12-17 05:17] jamesrcounts commented on #34
I just tested, and yes `npm install` is working now.  A couple hours ago I updated node on that VM from `5.1.0` to latest `5.3.0`.

So it may have been node ver, or the combo of node ver and Win10.

[2015-12-17 05:18] staxmanade commented on #34
Thanks @jamesrcounts

Looking at some of the tests erroring on Win 10 - I don't understand how they're passing on the Mac. (in some cases the `.approved.txt` files are not even checked into git)... I'll keep digging

[2015-12-17 06:09] jamesrcounts commented on #34
I do see some missing approvals.  Not sure about them.  A couple tests appear to be line ending related.  Git may be normalizing the approved file on Windows checkout.

![capture](https://cloud.githubusercontent.com/assets/1542583/11862591/b8b35698-a441-11e5-8a79-8942f25d9087.PNG)

[2015-12-17 06:56] staxmanade commented on #34
Seems to be an issue in the directory it's saving the file to... Can't diagnose it tonight.

[2016-04-27 22:21] jamesrcounts opened #36 "Release vNext"
Can you do a release so that the `Error` fixes that #35 added can be available on npm?

[2016-04-28 01:57] staxmanade commented on #36
Sorry, thought I already did that 😜

https://github.com/approvals/Approvals.NodeJS/releases/tag/v1.3.0

[2016-04-28 01:57] #36 closed

[2016-05-14 12:54] niwsa commented on #6
@staxmanade I would like to work on this,could you  provide more context?
Thanks

[2016-05-14 16:02] staxmanade commented on #6
This would be great!

If you take a look at various reporters in this folder https://github.com/approvals/Approvals.NodeJS/tree/master/lib/Reporting/Reporters you can get an idea how other diff reporters are implemented.

Also take a look at the tests: https://github.com/approvals/Approvals.NodeJS/tree/master/test/Reporting/Reporters

Hope this helps

[2016-05-17 05:00] niwsa commented on #6
@staxmanade I am looking at the code.Will get back to you soon on this.
Thanks

[2016-05-17 09:47] isidore commented on #6
@kytrinyx did this in her ruby version.
https://github.com/kytrinyx/approvals/blob/794cb8b680c095f6b2266d283e99a7914af39db8/lib/approvals/reporters/launcher.rb

[2016-05-17 12:57] niwsa commented on #6
@isidore  But does 'vimdiff' work in windows? You have to launch vim with the -d option right?

[2016-05-17 13:05] isidore commented on #6
unsure this was focused on mac

Llewellyn Falco
www.approvaltests.com

On Tue, May 17, 2016 at 8:57 AM, niwsa <notifications@github.com> wrote:

[2016-05-17 15:10] niwsa commented on #6
@staxmanade
Which all platforms (UNIX/OS X/Windows) are to be supported for this reporter?

[2016-05-17 15:11] staxmanade commented on #6
as many as you can - if you can... But if you get it working for one, that's great.

[2016-08-09 03:08] MiguelMadero commented on #31
FYI, it works for me on mac

[2017-02-13 23:19] martinsson opened #40 "homeConfig is broken"
the config I put in the home directory is squashed by the default config.

Seems to me that it comes from line no 75 in config.js

    var currentConfigObj = _.defaults({}, defaultConfig);

that should probably bee

    var currentConfigObj = _.defaults({}, homeConfig, defaultConfig);

so that it doesn't get squashed by line no 94.

    var resultConfig = _.defaults(configOverrides || {}, currentC

[2017-02-13 23:39] martinsson opened #42 "Textually same but binary different"
Getting a problem when copy pasting the received file into the approved one. The diff is still there even though the text is identical.

reporters: Meld, Kdiff3 at least
os: Macos, Linux

I'll dig into this a bit deeper soon, but posting in case someone ran into the same thing
Johan

[2017-02-14 00:05] #40 closed

[2017-02-14 00:08] isidore commented on #42
this is either from 1 of two causes (based on other systems)

1) Header. The empty file might not have the UTF-8 header.
Solution: generate the empty file with a UTF-8 header

2) Trailing whitespace. The diff tool might run a trim() before saving
Solution: I think the solution was to end with an empty line. not sure I remember this right.

[2017-02-15 23:49] staxmanade commented on #40
👍  Thanks for finding and fixing!!!

[2017-02-15 23:58] staxmanade commented on #42
@martinsson I took a look at your change in https://github.com/martinsson/Approvals.NodeJS/commit/11925e673a4730ae05c9b2f631c6ed7cd36a052a and have some concerns/thoughts.

Line-endings have been a PITA, so any improvement we can make to help us (developers) out here is awesome.

We should avoid reporting something as "approved" if there are line-ending differences. So let's be careful about the n

[2017-02-16 00:38] staxmanade commented on #6
closing: https://github.com/approvals/Approvals.NodeJS/blob/master/lib/Reporting/Reporters/vimdiffReporter.js

[2017-02-16 00:38] #6 closed

[2017-02-16 15:38] martinsson opened #44 "Reporter lookup fails on Linux"
When I don't specify a reporter anywhere it selects opendiff although it doesn't exist on linux

    Error raised by reporter [opendiff]: TypeError: Bad argument

If I recall correctly I had the same behavior on macos. I'll fix soon probably but just reporting

[2017-02-16 17:59] staxmanade commented on #44
This is likely because of the ordering of default reporters here https://github.com/approvals/Approvals.NodeJS/blob/master/lib/config.js#L15

maybe the defaults get configured differently per OS?

[2017-02-16 18:00] staxmanade commented on #44
I originally wrote this project on Mac - and got the Windows port working (I even prototyped some stuff on Ubuntu) but Linux hasn't been a strong focus of the project. (Maybe just enough to get travis-ci to work :P)

[2017-02-16 22:22] martinsson commented on #44
I thought that there was a selection algorithm retaining the first reporter in the config that is installed on the system. I couldn't find that in the code though.

I tried an implementation. What do you think?

[2017-02-16 22:26] staxmanade commented on #44
@martinsson there is a global config (if you as a developer create a file in your home directory https://github.com/approvals/Approvals.NodeJS/blob/master/lib/config.js#L75 (some notes in the readme about how to set it up manually https://github.com/approvals/Approvals.NodeJS#config-overriding)

[2017-02-16 22:28] martinsson commented on #44
I used that, it is a nice option to have. But it is more friction than if it just works upon install, no?

[2017-02-16 22:29] staxmanade commented on #44
sorry, I was trying to answer (maybe misunderstood)

I like where you're headed so far...

[2017-02-16 22:37] staxmanade opened #46 "Replace jshint/jscs with eslint"
Upgrade some tooling

Replace `jshint`/`jscs` with a set of [eslint](http://eslint.org/).

Consider starting from the airbnb [eslint-config-airbnb](https://www.npmjs.com/package/eslint-config-airbnb) adding project (my) preferences on top of that 👅

[2017-02-16 22:43] staxmanade opened #47 "Review builds of Node in the C.I. servers config"
- [ ] Investigate if we can automate building on a Mac yet
- [x] Be sure [travis version](https://github.com/approvals/Approvals.NodeJS/blob/master/.travis.yml#L2-L7) list is relevant
- [x] Be sure the app [veyor version](https://github.com/approvals/Approvals.NodeJS/blob/master/appveyor.yml#L13-L21) list is relevant

[2017-02-16 23:02] #44 closed

[2017-02-24 05:59] staxmanade opened #50 "Remove extensions of Array.prototype"
We all know this is a bad practice, especially in a 3rd party utility/tool like Approvals.

Luckily it only happens at the end of a process so it's less likely to interfere with other's code, but still it's ugly...

There are several extensions that need to be refactored and remove the native prototype modification.

- [ ] [Array.prototype.unique](https://github.com/approvals/Approvals.NodeJS/blob

[2017-02-25 03:33] #46 closed

[2017-02-25 03:33] #42 closed

[2017-02-25 05:30] #47 closed

[2017-02-25 05:32] staxmanade commented on #34
Some tests are designed to "fail" by not having an approval file on disk (checked in)... Closing as I just pushed a large number of commits (fixing tests and cleanup)

[2017-02-25 05:32] #34 closed

[2017-02-25 05:51] #50 closed

[2017-02-25 05:58] staxmanade opened #54 "Consider integrating Greenkeeper"
Hey @isidore,

Looks like since I'm not an owner of the org anymore, I don't have access to add [Greenkeeper](https://github.com/integration/greenkeeper) to the project.

It's likely worthwhile to consider having more than a single person be an "owner" of this org. Thinking bus factor...

Regardless, would you mind turning on Greenkeeper? (I have no idea what that process is going to be like yet)

[2017-02-26 09:21] isidore commented on #54
I had an other project stollen from me because of shared ownership :-( so a bit protective on that aspect. But would be happy to pair up the integrate green keeper.
Also is only owner needed. You should have full admin privileges?

Sent from my iPad

[2017-02-26 17:37] staxmanade commented on #54
It looks like I have permission to integrate other services - but not thin one?

let me know when you're around for a pairing...

[2017-02-27 00:19] staxmanade opened #56 "Directory-level configuration"
We have a number of ways to specify configuration which drives approvals behavior.

One ideal piece of configuration I would like to get to would be project-level (err directory level) config files.

Say you have a test project that looks like this.

[code]

Also say the approval tests in `folder` require different "configuration" than the rest of the project?

You can do this by passing a common

[2017-02-27 15:44] #30 closed

[2017-02-28 18:54] staxmanade opened #59 "p4merge on Mac"
If approvals does not find `p4merge` on the `PATH`, it could attempt to look for in locations such as

- [ ] `/Applications/p4merge.app/Contents/Resources/launchp4merge`
- [ ] `/opt/homebrew-cask/Caskroom/p4merge/2014.3-1007540/p4merge.app/Contents/Resources/launchp4merge`

I have a temp work-around with
[code]

[2017-03-02 07:10] #59 closed

[2017-03-02 18:41] isidore opened #61 "include diffmerge as reporter option"

[2017-03-02 19:10] mwinteringham opened #62 "Add scrubbers"
As per conversation with Llewellyn

[code]

[2017-03-03 02:15] #61 closed

[2017-03-03 02:25] staxmanade commented on #31
I've updated beyond compare reporter to try to do a little extra path searching... https://github.com/approvals/Approvals.NodeJS/blob/master/lib/Reporting/Reporters/beyondcompareReporter.js

NOTE: I don't have this tool - so here's 🤞 that it still works (and improves on the old one)

[2017-03-03 02:25] #31 closed

[2017-03-03 02:26] staxmanade commented on #31
new term 🤞 DD `crossed finger driven development`

[2017-03-03 05:04] MiguelMadero commented on #31
:crossed_fingers: DD

[2017-03-03 18:23] isidore commented on #62
link: https://github.com/approvals/ApprovalTests.Net/blob/master/ApprovalTests/Scrubber/ScrubberUtils.cs

[2017-03-03 19:33] staxmanade opened #65 "Add good example approvals test to readme"
Point to solid tests with examples of approvals tests as links within the readme.

[2017-03-03 20:23] staxmanade commented on #62
Implemented in https://github.com/approvals/Approvals.NodeJS/pull/66/commits/cd7fe6017a5d00462efedbdb7732b3f831b201f5

## TODO

- [ ] Docs and examples

[2017-03-04 01:14] staxmanade opened #67 "copycommandReporter"
Using image diffing and thanks to a suggestion from @isidore I have successfully used a command copy reporter for use in moving received images to approved images.

This has only been tested on a Mac

[code]

[2017-03-04 05:54] staxmanade opened #68 "undefined value sent to verify needs better error message"
when an undefined value (non string or Buffer) is passed to `verify` we get a not-so-friendly error.

[2017-03-04 23:03] staxmanade commented on #67
Implemented. You can use `copycommand` as the named reporter in configuration

[2017-03-04 23:03] #67 closed

[2017-03-04 23:03] staxmanade commented on #62
@mwinteringham check out the docs for how to use it.

Also I just published `approvals@2.0.0` up to npm

/cc @isidore

[2017-03-04 23:03] #62 closed

[2017-03-06 18:17] staxmanade opened #69 "Investigate Caporal.js for CLI approvals"
https://github.com/mattallty/Caporal.js

[2017-03-07 22:12] cmstead opened #70 "Optional path for Mocha approvals not working as expected"
It looks like Approvals version > 1.2.x has a problem with the optional approvals file path.  My configuration setup looks like the following:

`require('approvals').configure(approvalsConfig).mocha('./test/approvals')`

However, my test failure output looks like the following:

[code]

I can commit this test run in a branch on JS Refactorings for your ease of reproduction.  At any rate, I would r

[2017-03-07 22:15] cmstead commented on #70
I went ahead and just committed a branch so you can reproduce the problem as well as see the entirety of my configuration and test example.

https://github.com/cmstead/js-refactor/tree/approvalsIssue

To run the tests, clone the project, run `npm i` and then run `npm test`.

[2017-03-07 22:19] cmstead opened #71 "File-based config .approvalsConfig not behaving as expected"
I tried migrating my configuration to a file-based config as suggested in the docs, but it looks like my custom reporter is not recognized. I'm not clear if my format is simply wrong and the config is not Javascript or if custom reporters are not being recognized.  Perhaps the config file isn't being read? I'm just really unclear on where the actual problem lives.  Let me know what info you need t

[2017-03-08 14:42] staxmanade commented on #71
Go ahead and share your file and describe where this file is located. Also what version of approvals are you using?

[2017-03-08 15:00] staxmanade commented on #70
@cmstead For your issue a couple things.

1. Looks like it's an issue with this line https://github.com/approvals/Approvals.NodeJS/blob/master/lib/Providers/BeforeEachVerifierBase.js#L14 - if the directory doesn't exist it throws and error? I'll file an issue to avoid that error going forward.
2. If you create the `./test/approvals` folder - it ran the tests for me.
3. I put a ton of work (includi

[2017-03-08 15:18] cmstead commented on #70
Sorry, I should have put an empty file in the approvals folder, git ignores empty folders, sorry about that.

Anyway, I'll give it another go, but the thrown error wasn't the issue, (I expect to see an error thrown and I'm okay with it, and it helped me diagnose what was happening) it was where files were ending up. So strange it worked on your machine, but not mine. Maybe I just need to do a clea

[2017-03-08 15:19] staxmanade commented on #70
Noticing that (the files are not landing in the specified directory...) I'll see what's going on.

[2017-03-08 22:53] cmstead commented on #71
I'll commit an example to the same branch as the other project and post a link here in a moment.

[2017-03-08 22:58] cmstead commented on #71
Correction, the approvals config example is already in the branch.  Look in the root folder and you should see the .approvalsConfig file:

https://github.com/cmstead/js-refactor/tree/approvalsIssue

Also, thanks for digging into this!

[2017-03-08 23:08] staxmanade commented on #71
ahh yea - sorry... While it's totally obvious that's how it "should" work... sadly, that's not how it does.

Issue #56 is probably what you're looking for and we haven't built that out yet...

If you want, you can copy the `.approvalsConfig` file into your "home" directory so on windows `C:/Users/yourName/.approvalsConfig` - this only fixes it for your computer.

If you feel interested in taking a

[2017-03-08 23:08] #71 closed

[2017-03-08 23:18] staxmanade opened #73 "Log config when reporting a failure"
Due to the complexity of setting up and using the approvals config, it would probably be helpful (especially when diagnosing line-ending errors) to log the config object when reporting an error.

[2017-03-09 03:26] #70 closed

[2017-03-10 19:02] cmstead commented on #71
Sorry for the delay. I'll have a look at the issue and see what, if anything, I might be able to do. : )

[2017-03-10 19:08] cmstead commented on #56
Out of curiosity, would it be reasonable to start off with just a project root approvalsConfig? I know this doesn't resolve the entire enhancement, but it might be a reasonable starting point.  Side note, I am willing (time dependent) to dig in and see if I can come up with a reasonable first pass at something like a project root config as a proof of concept.

Let me know your thoughts, please. :

[2017-03-10 19:09] staxmanade commented on #56
I like the idea of a project-root config... The question is how to determine the project root? So if we can work through that, let's to it....

[2017-03-10 19:14] cmstead commented on #56
I know there is logic implemented for editorconfig to do that kind of thing, so I'll probably dig in there to start. You can grab the cwd from process as well, so that will likely play a role. I'll share findings here,  as I go.

[2017-06-04 18:41] cmstead opened #74 "Config factory..."
Hey Jason,

This isn't an issue so much as I just wanted to let you know, I built a tiny little module which allows people to generate a default config without needing to specify anything except a reporter.  I got to the point where I was tired of copy/pasting my config all over the place, so I thought I would share.

Thanks again for all your hard work on the Approvals project!

https://github.co

[2017-06-11 01:25] staxmanade commented on #74
Part of me is happy about this, thank you for sharing.

The other part of me is sad that this isn't "easier" or i"in-the-box" as you'd like...

I'd like to learn more about you're use-case and possibly why the existing system isn't suitable for you.

I know a project-level config would be a good next-step outline here: https://github.com/approvals/Approvals.NodeJS/issues/56

Have you tried configu

[2017-06-11 03:28] cmstead commented on #74
I actually need the configuration to be at the project level for a couple reasons. First is, I am not always at the same computer and I need the config to ride with the project. Second, most of my personal projects are open source and I have to ensure the setup for contributors (as infrequent as they are) is as quick as possible.

Honestly, I think your setup is pretty easy, I just find myself cop

[2017-12-22 18:16] cmstead opened #76 "Edge dependency is breaking install on Mac"
Hola,

It looks like the Visual Studio reporter requires edge.  This appears to be a problem for users on Mac who can't install the edge module.  Would it make sense to extract this particular reporter to a separate module someone can add as a plugin if they need it?

Here's the associated bug in my project:

https://github.com/cmstead/js-refactor/issues/48

[2017-12-22 18:28] cmstead commented on #76
Update, it appears there is a suggested modification which could be made.  This comes from an issue on the Edge package:

https://github.com/tjanczuk/edge/issues/593#issuecomment-353608203

Would you be open to trying the edge-js fork? I'll issue a pull request so you can try it out.

[2017-12-22 18:54] cmstead commented on #76
Nevermind on the pull request. Apparently the tests require magic things I don't have on my machine that `npm install` doesn't provide. Sorry. : (

[2018-01-19 00:14] staxmanade commented on #76
sorry, didn't see github notifications 😢

Ideally we should just get rid of the `edge` dependency. I'm only using it to attempt to read some registry keys to discover visual studio https://github.com/approvals/Approvals.NodeJS/blob/master/lib/Reporting/Reporters/visualstudioReporter.js#L19

If we could refactor and completely remove edge (maybe by now there's a decent registry nodejs library) - th

[2018-04-25 14:56] mike03081972 opened #78 "Using ApprovalTests in a typescript test file !"
Is it possible to publish also the declaration file for module 'approvals' (.d.ts)

=> npm install @types/approvals`
=> yarn add @types/approvals

[2018-04-29 19:53] staxmanade commented on #78
Happy to help maintain a `.d.ts` - mind sending a PR with how this is configured within a typical repo?

[2018-05-08 08:17] mike03081972 commented on #78
Hi,

I'm pretty new in Javascript/typescript.
I don't know how to write this file but whenI have some times, I will try
to investigate it.

Some infos when I try to use it :

I will receive this message from WebStorm

The code looks like this :

import {mocha} from 'approvals';

mocha();

describe('When running some tests', function () {

    it('should be able to use Approvals', function () {

[2018-05-17 08:38] mike03081972 opened #79 "Approval approved/received location + .approvalsConfig format or example"
[approval-js-test.zip](https://github.com/approvals/Approvals.NodeJS/files/2012307/approval-js-test.zip)

Hi to all,

What is the correct format for the .approvalsConfig file ? It seems not to work !

How can I configure the location of the approved/received files ?

In my example, they goes in folder 2 but I want that the test in folder 1 stays in folder 1 and not in folder 2.

You can find attac

[2018-05-17 09:47] mike03081972 commented on #79
I have found how to set the correct location :

The call to approvals.mocha must be done inside the describe block and not outside

describe('javascript simple Approvals tests #1', function () {

    const approvals = require('approvals');

    approvals.mocha(__dirname);

    it ('hello world', function () {

        const value = 'HELLO WORLD';

        this.verify(value);
    });

});

[2018-05-17 12:03] mike03081972 commented on #78
[approval-ts-test.zip](https://github.com/approvals/Approvals.NodeJS/files/2013043/approval-ts-test.zip)

Hi,

You will find attached an example project that works under typescript.
The .d.ts files is located in the folder typings

Best regards

[2018-07-25 05:58] rosslovas opened #81 "Beyond Compare 4 won't ever be found on Windows due to bug"
Beyond Compare 4 won't ever be found because it immediately gets overwritten by Beyond Compare 3 path.

https://github.com/approvals/Approvals.NodeJS/blob/d4dc4e9/lib/Reporting/Reporters/beyondcompareReporter.js

[code]

I assume this is meant to be

[code]

[2018-07-25 17:53] #81 closed

[2018-10-02 04:54] staxmanade commented on #79
Nice - I actually don't like the mocha integration - because of this scoping issue... I'm glad you figured something out for you need.

[2018-10-02 04:54] #79 closed

[2018-10-02 05:01] staxmanade commented on #76
I'm reviewing issues again - and looking into this.... `edge` doesn't get installed on mac or linux - it only gets installed on windows machines: https://github.com/approvals/Approvals.NodeJS/blob/master/install_dependencies.js#L7

[2018-10-02 05:01] #76 closed

[2018-10-02 05:06] #68 closed

[2018-10-02 05:08] #54 closed

[2018-10-02 05:18] cmstead commented on #76
I haven't tested it in a while on my Mac, but I haven't encountered the same issues in my Linux box so this has probably sorted itself. Thanks for coming back around.

[2018-12-28 19:37] CaptainMcCurry opened #86 "Issues with Buffer Compare Loop"
When verifying data we run into false positives when the string remains the same but new data is added to the end of the string, this is happening with node code and can easily be reproduced using the CLI tool.

If the approval matches the first call below (below), it will also match the second call in this example:

echo 'Hello World!' | approvals helloWorldTest --reporter gitdiff --outdir .
echo

[2019-01-21 06:12] staxmanade commented on #86
Nice - just saw this issue. Thanks for reporting. Will take a look soon

[2019-03-14 00:53] cuzzlor opened #87 "event-stream flatmap-stream"
When I install v3.0.3 I get:

[code]

Looks like the referenced version of event-stream has a dependency on the removed (malicious) flatmap-stream package perhaps.

Could you pls update the referenced version of event-stream?

PS - thanks for fixing the null value bug with the key ordering code.

[2019-03-17 20:19] staxmanade commented on #87
Thanks for reporting - I'll take a peek soon...

ha - yea I ran into it the other day and was like "how did that ever not get caught -- oops"

[2019-03-17 21:21] staxmanade commented on #87
@cuzzlor can you try the latest release?

[2019-03-28 19:48] labsvisual commented on #78
@staxmanade wouldn't mind contributing to the repository with typings and their documentation. 😄

[2019-03-29 19:09] staxmanade commented on #78
@labsvisual Please do - would love some pull requests and help...

[2019-03-30 05:39] #87 closed

[2019-03-31 05:37] #86 closed

[2019-03-31 05:41] staxmanade commented on #86
@CaptainMcCurry Thanks for reporting this issue - sorry it took so long to incorporate. Hope this helps.

[2019-03-31 07:21] labsvisual commented on #78
@staxmanade on it!

[2019-03-31 15:22] CaptainMcCurry commented on #86
Thank you! I will check it out!

On Sat, Mar 30, 2019, 10:41 PM Jason Jarrett <notifications@github.com>
wrote:

[2019-09-04 00:44] alexanderbird opened #96 "Callback or promise so I can wait until visual diff editor closes before moving on to the next test?"
When I run my test suite and an approval test fails, it opens my reporter (p4merge). While I'm reviewing the changes, the test suite continues. Before I get a chance to approve the new received snapshot, the next test completes (also failing) and p4merge now shows the new failure. Also, my clipboard now has the command to approve the second and not the first.

One way I could see to resolve this i

[2019-12-03 00:53] staxmanade commented on #96
It's a good question...

I could see some benefit to making it more "synchronous" as you explained above. Currently it's just going to verify, throw up the tool - and sadly if you have 100 failures - it gets a little messy.

But going through 100 synchronously feels like it could never end as well.

Not sure how I think about this - maybe a PR that made it configurable would be interesting to expl

[2019-12-03 02:10] alexanderbird commented on #96
Interesting -- what platform do you run it from? For me, on mac, each new failure uses the original p4merge window -- so my workflow is run them all with a donothing reporter, then rerun each failure individually and resolve it with p4merge. But maybe there's something I can change about either my p4merge setup on my machine, or the way the p4merge reporter delegates to p4merge in mac mode.

The o

[2019-12-03 02:15] alexanderbird commented on #96
From a testing perspective, I was thinking we could write a unit test that uses a custom reporter that calls to a process that waits for some message before terminating. Then we assert that the returned promise has not resolved yet, send the message to that process to terminate, and then assert that the promise has resolved.

If we were to use node for the wait-to-exit process, it could be:

[code

[2020-06-13 17:42] chrissmiley0101 opened #100 "Some security findings"
Hi,
I just wanted to let you know that our team have been helping out a bunch of open source projects by running security checking tools through some DevOps automation we setup.  We’ve found some items for you over at https://source-security.co.uk/c0eca623-6f54-4eda-850e-adbf3f643fbb/.
Thanks, Chris

[2020-07-03 14:46] objarni opened #101 ".approvalsConfig example should be YAML"
In the documentation, the approvalsConfig example file is written in JSON.

When testing it out, I get a YAML error, indicating the documentation is not reflecting the current state of Approvals.NodeJS.

I have version 3.0.5 here, installed via npm.

[2021-03-12 03:45] mattgodbolt opened #105 "Option to block test progress on diff tool"
I am replacing a homegrown solution with approvals (after Clare Macrae sold me on the idea!)

I have ~300 approval tests and when I first ran I nearly lost control of my computer as 300+ `meld` sessions attempted to spawn at the same time...

I was hoping I'd get some kind of control over this, so I don't DoS my computer if more than a dozen or so tests fail at once!

[2021-03-12 03:45] mattgodbolt commented on #105
Looks like a duplicate of #96

[2021-03-12 03:45] #105 closed

[2021-03-12 03:46] mattgodbolt commented on #96
+1 to _something_. I just tried approvals for the first time, and 300+ `meld` sessions spawning back to back nearly crushed my computer!

[2021-03-27 20:24] staxmanade commented on #96
To follow up here...

@mattgodbolt We've thrown a some updates into a beta build of approvals at [v4.0.0-beta.2](https://github.com/approvals/Approvals.NodeJS/releases/tag/v4.0.0-beta.2) to help with the 300+ meld sessions... Give it a look

@alexanderbird - in doing some thinking I like the idea of verify returning a promise - but didn't get that in yet. There are a few knobs to play with at the

[2021-03-28 14:36] alexanderbird commented on #96
👍🏻 Thanks for the update!

[2021-04-01 19:28] mattgodbolt commented on #96
@staxmanade Looks great: thanks!

[2021-05-26 11:54] ragunathjawahar opened #111 "Approvals.NodeJS pulls `"edge"`, `"edge-cs"`, and `"nan"` dependencies on Windows"
We are using Approvals.NodeJS `4.0.0-beta.1` in our project, however the npm package pulls in the above mentioned dependencies on Windows, but not on Mac. Which in-turn modifies the `package-lock.json` file. It affects how developers collaborate in the project. Curious to know how to work with this issue. Thanks and any help is much appreciated.

[2021-05-27 01:08] ragunathjawahar opened #112 "Allow specifying a file extension from options override (HTML for instance, helpful to preview in the browser)"
I am unable to use a different extension for the approved file name. Right now, I see the `verifyAndScrub` function  has a namer `var namer = new ManualNamer(dirName, testName);`.

I followed the call stack and couldn't spot a place where I can specify a different extension for my approved file. I am new to JS, please let me know if I'm missing something here.

[2021-05-27 04:35] ragunathjawahar opened #113 "Setting up the project fails with ENOTFOUND"
I have cloned the project and tried to run `npm install` and the command fails with the following error. However, `npm install` succeeds after I run it after deleting the `package-lock.json` file.

[code]

[2021-05-27 06:25] ragunathjawahar commented on #111
We use this temporary workaround on Windows machines,

[code]

[2021-05-28 07:26] ragunathjawahar opened #116 "Add an IntelliJ reporter"

[2021-09-13 18:09] bzuillsmith opened #122 "failOnLineEndingDifferences not working"
I'm on v3.0.5 and approvals keeps failing for line ending differences. I've done a byte by byte comparison and confirmed it's just a difference of line endings. The reporter does not affect this, does it? I'm using vscode as the reporter.

[2021-09-20 20:47] DanKaplanSES commented on #78
Would it be an option to change the project to a typescript project? I'd be interested in submitting a PR for that. It would still work for JS users.

[2021-09-21 19:43] DanKaplanSES opened #124 "Cannot read property 'blockUntilReporterExits' of undefined"
I receive this error when I follow the mocha example. I have made a PR to solve the problem, but I believe the source of the issue is approvals\lib\Providers\BeforeEachVerifierBase.js  It's call to `FileApprover.verify(namer, writer, reporterFactory);` doesn't pass in any options and `GenericDiffReporterBase.report` (and other reporters) are written as if it did.

[2021-09-21 19:43] DanKaplanSES commented on #124
sorry I don't know how to link to a PR. This is my attempt: https://github.com/approvals/Approvals.NodeJS/pull/123

[2021-09-28 03:29] staxmanade commented on #78
@DanKaplanSES I would be open to this. @isidore and I have had a few weekend pairing sessions over the summer - perhaps something we could all jump into in the coming months and work on together.

[2021-09-28 20:55] DanKaplanSES commented on #78
I'm down. Let me know.

[2021-10-13 13:58] davidalpert opened #125 "exitCode always 0 when encountering stale approvals"
When `errorOnStaleApprovedFiles` is set to true, and the code finds stale approvals, it exits in a way that leaves the process exit code at `0`.

|library|version|
|--|--|
|`node`|14.5|
|`mocha`|6.2.2|
|`approvals`|3.0.5|

It took me the longest time to figure out why my `mocha` unit tests were always returning `0` even when tests failed.  Eventually I considered interaction between `mocha` and ot

[2021-11-22 16:05] claremacrae commented on #78
Hi Jason!

I'm helping someone in the Obsidian plugin community to start writing approval tests for some typescript-based code...

I've pointed them at this issue, to see if the attachments help... Will report here how we get on...

[2021-11-22 16:51] SkepticMystic commented on #78
Thanks Clare :)
@mike03081972 I managed to get your example project working.
However, the issue I had before is that I cannot import functions from other files in the project into the `test.specs.ts` file. If I want to test `myFunc` from `utils.ts`, for example, I add `import {myFunc} from '../src/utils'`, but I get the following error:
![image](https://user-images.githubusercontent.com/70717676/1

[2021-11-22 17:58] staxmanade commented on #125
@davidalpert I think I'd like to understand more about why you are not getting the proper exit code. I ran a test locally and cannot seem to reproduce.

|library|version|
|--|--|
|`node`|14.6.0|
|`mocha`|6.0.2|
|`approvals`|3.0.5 && master/latest code|

[code]

[2021-11-22 18:28] claremacrae commented on #78
I wonder whether it's worth starting from the other end, from the starter project - which does already import a source file from another location... And seeing if you can add to that the use of a 3rd-party lib.

https://github.com/approvals/ApprovalTests.js.StarterProject

[2021-11-22 23:07] staxmanade commented on #122
@bzuillsmith Could you give https://github.com/approvals/Approvals.NodeJS/releases/tag/v4.0.0-beta.1 a shot? I was able to fix a couple issues around that.

[2021-11-22 23:09] staxmanade commented on #113
We've pushed quite a few updates into the codebase. Going to close this for age. Thanks for reporting

[2021-11-22 23:09] #113 closed

[2021-11-23 13:27] claremacrae commented on #124
Thank you for logging this. I am getting this problem too.

[2021-11-23 13:56] claremacrae commented on #124
I found a workaround for this, which was to revert from `4.0.0-beta.1` to `3.0.5`

So using this in `package.json`:

[code]

[2021-12-21 22:16] mattgodbolt opened #127 "security issue with `marked` version via `msee`"
Our [project](https://github.com/compiler-explorer/compiler-explorer) is getting a Dependabot alert for `marked 0.3.17` via a dependency coming from approvals@4.0.0-beta.1:

[code]

Unfortunately the `msee` issue seems to be blocked: [this issue](https://github.com/firede/msee/issues/61) was reported in 2019, and the project  hasn't been updated in over a year.

It's unlikely this is a viable atta

[2022-01-18 23:14] mattgodbolt commented on #127
On closer look it seems it's only used here:

https://github.com/approvals/Approvals.NodeJS/blob/b8920197bfe95dade9422e7d8b9930178c8cc932/bin/index.js#L19

so I _think_ it should be possible to drop in an alternative, or preprocess the help file in some way, rather than cause `msee` to be a problem on anyone who depends on `approvals`.

I see there's a number of unacknowledged PRs - is this projec

[2022-06-05 20:55] bzuillsmith commented on #122
It appears [a commit has already been made to fix this](https://github.com/approvals/Approvals.NodeJS/commit/89c76a9b4dc48dc7d109764ae8bc3a9a67d7d8f7), but it's not in the latest beta.

Without this change in FileApprover, it fails on windows when there are line break differences because the buffers are not the same length

[2022-06-05 20:59] bzuillsmith commented on #122
I know you are busy and haven't had time to maintain this much (I feel you, been struggling to find time for this OS lib of mine that I want to use Approvals in), but I can't really use the library until this is published. Any chance of a quick publish of the latest changes in the near future?

[2022-06-27 03:53] #127 closed

[2022-10-10 11:31] isidore opened #137 "Empty Files"
implement empty files creator

[2022-10-16 00:08] staxmanade commented on #127
Hey @mattgodbolt thanks for the PR (apologies for the late reply...)

I'll see if I can push it along...

[2022-10-29 14:35] isidore opened #139 "DateScrubber.getScrubberFor doesn't support the following:"
add your date here

[2022-11-05 04:46] ragunathjawahar opened #140 "Approvals JS and Jest"
I have been using Approvals JS successfully on some of my JS projects. These were vanilla projects on the front-end. I can successfully use the tool with Mocha. However, recently I tried approvals on a React project and it did not go well because it uses Jest. I have spent sometime researching and trying out different things. The only approach that seems to work is to also have mocha installed and